<section id="download" class="wrapper style2 special">
    <header class="major">
        {{ "DOWNLOAD_TITLE"|t }}
        {{ "DOWNLOAD_DESC"|t }}
    </header>
        <ul class="actions">
            <li>{{ "BTN_DOWNLOAD"|t }}</li>
            <li>{{ "BTN_CARIB"|t }}</li>
        </ul>
</section>