<header id="header">
	<div class="content">
		<h1><a href="#">{{ "HEADER_TITLE"|t }}</a></h1>
		<p>{{ "HEADER_DESC"|t }}</p>
			<ul class="actions">
				<li>{{ "BTN_DOWNLOAD"|t }}</li>
				<li><a href="#title" class="button icon fa-chevron-down scrolly">Learn More</a></li>
			</ul>
	</div>
	<div class="image phone">
		<div class="inner">
			<img src="user/themes/pricklypear/images/screen.jpg" alt="Carib Themes by IDIMweb.com" />
		</div>
	</div>
</header>