<section id="main" class="wrapper">
	<div class="inner alt">
		<section class="spotlight">
			<div class="image">
				<img src="user/themes/pricklypear/images/pic01.jpg" alt="" />
			</div>
			<div class="content">
				<h3>Geography</h3>
				<p>The two cays are located close to each other at 18°16′N 63°11′W. They are accessible from Road Bay, Anguilla and Saint Martin either by catamaran or sail boat. There is total ban on coral extraction or shells from underwater and spear fishing is not allowed.</p>
			</div>
        	</section>
        	<section class="spotlight">
            		<div class="image">
            			<img src="user/themes/pricklypear/images/pic02.jpg" alt="" />
            		</div>
            		<div class="content">
            			<h3>Flora &amp; Fauna</h3>
            			<p>The two cays have been identified as an Important Bird Area by BirdLife International because of their breeding seabirds. Marine fauna in the reef area include schooling goatfish, lobsters, barracuda, angelfish, tarpon... Nurse sharks are also seen resting at the sandy bottom.</p>
            		</div>
        	</section>
        	<section class="spotlight">
            		<div class="image">
                		<img src="user/themes/pricklypear/images/pic03.jpg" alt="" />
            		</div>
            		<div class="content">
                	<h3>Tourism</h3>
			<p>The islands are popular with tourists due to the abundant marine and bird life. There are two restaurants and a bar which are serviced by staff who come in each day from the mainland of Anguilla. Snorkelling and diving are possible with several sunken ships in the area.</p>
        		</div>
        	</section>
        	<section class="special">
			<ul class="icons labeled">
				<li><span class="icon fa-mobile"><span class="label">Fully responsive</span></span></li>
				<li><span class="icon fa-html5"><span class="label">HTML5</span></span></li>
				<li><span class="icon fa-css3"><span class="label">CSS3</span></span></li>
				<li><span class="icon fa-github"><span class="label">OpenSource</span></span></li>
				<li><span class="icon fa-camera-retro"><span class="label">Photos by IDIM<em>web</em>.com</span></span></li>
				<li><span class="icon fa-language"><span class="label">i18n ready</span></span></li>
				<li><span class="icon fa-code"><span class="label">FontAwesome 4.5.0</span></span></li>
			</ul>
        	</section>
	</div>
</section>
