<section id="title" class="wrapper style2 special">
    <header class="major">
      {{ "TITLE_DESC"|t }}
    </header>
      <ul class="icons labeled">
        <li><span class="icon fa-map-marker" title="Location"><span class="label">18°16′N - 63°11′W</span></span></li>
        <li><span class="icon fa-users" title="Population"><span class="label">Population: 0</span></span></li>
        <li><span class="icon fa-ship" title="a11y"><span class="label">Accessible only by boat</span></span></li>
      </ul>
</section>