{# section 'download' en inclusion dans ~partials/base.html.twig #}

<section id="three" class="wrapper style2 special">
    <header class="major">
        <h2>Prickly Pear by Island Themes</h2>
        <p>Prickly Pear is a FREE simple, single page responsive theme ported on Grav by Island Themes<br />and based on Fractal Template by HTML5 UP.</p>
    </header>
        <ul class="actions">
          <li>{{ "BTN_DOWNLOAD"|t }}</li>
          <li><a href="https://github.com/IslandThemes" target="_blank" title="IslandThemes on GitHub" class="button">Island Themes</a></li>
        </ul>
</section>
