<section id="three" class="wrapper style2 special">
    <header class="major">
        <h2>Prickly Pear by Carib Themes</h2>
        <p>Prickly Pear is a FREE simple, single page responsive theme ported on Grav by Carib Themes<br />and based on Fractal Template by HTML5 UP.</p>
    </header>
        <ul class="actions">
          <li>{{ "BTN_DOWNLOAD"|t }}</li>
          <li><a href="https://github.com/CaribThemes" target="_blank" title="CaribThemes on GitHub" class="button">Carib Themes</a></li>
        </ul>
</section>
