<footer id="footer">
    <ul class="icons">
        {% for network in site.social %}
        <li><a href="{{ network.url }}" target="_blank" class="icon fa fa-{{ network.title }}"></a></li>
        {% endfor %}
    </ul>
    <p class="copyright">&copy; {{ "now"|date("Y") }} {{ "FOOTER_COPYRIGHT"|t }}</p>
    <a href="#" class="cd-top">Top</a>
</footer>