<footer id="footer">
    <ul class="icons">
        <li><a href="#" title="Facebook" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" title="Twitter" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/CaribThemes" target="_blank" title="GitHub" class="icon fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <p class="copyright">&copy; {{ "now"|date("Y") }} {{ "FOOTER_COPYRIGHT"|t }}</p>
    <a href="#" class="cd-top">Top</a>
</footer>
