{# section 'footer' en inclusion dans ~partials/base.html.twig #}

<footer id="footer">
    <ul class="icons">
        <li><a href="#" title="Facebook" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" title="Twitter" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/IslandThemes" target="_blank" title="GitHub" class="icon fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <p class="copyright">{{ "FOOTER_COPYRIGHT"|t }}</p>
</footer>
