{# section 'header' en inclusion dans ~partials/base.html.twig #}

<header id="header">
    <div class="content">
        <h1>
            <a href="#">Prickly Pear</a>
        </h1>
            <p>Just a simple, single page responsive<br />template brought to you by <a href="https://github.com/IslandThemes">Island Themes</a></p>
          <ul class="actions">
            <li>{{ "BTN_DOWNLOAD"|t }}</li>
				    <li><a href="#one" class="button icon fa-chevron-down scrolly">Learn More</a></li>
          </ul>
    </div>
    <div class="image phone">
        <div class="inner">
            <img src="user/themes/pricklypear/images/screen.jpg" alt="" />
        </div>
    </div>
</header>
