{# section 'title' en inclusion dans ~partials/base.html.twig #}

<section id="one" class="wrapper style2 special">
    <header class="major">
        <h2>The Prickly Pear Cays, are a small pair of uninhabited islands<br> in the Leeward Islands of the Caribbean.</h2>
        <p>Prickly Pear were classified as wildlands and are one of six marine protected areas of Anguilla.</p>
    </header>
    <ul class="icons labeled">
        <li><span class="icon fa-map-marker" title="Location"><span class="label">18°16′N - 63°11′W</span></span></li>
			  <li><span class="icon fa-users" title="Population"><span class="label">Population:	0</span></span></li>
			  <li><span class="icon fa-ship" title="a11y"><span class="label">Accessible only by boat</span></span></li>
    </ul>
</section>
