{% extends 'partials/base.html.twig' %}
{% block content %}
	<div id="error">
		<div>
			<h1>{{ "ERROR_TYPE"|t }} {{ page.header.http_response_code }}</h1>
			<h2>{{ "ERROR_DESC"|t }}</h2>
			<div><a class="button" href="home">{{ "ERROR_BTN"|t }}</a></div>
		</div>
	</div>
{% endblock %}
